
body {
    background-color:  #096609;
    text-align: center;
    display: block;
    justify-items: center;
}

.terra {
    background-color: greenyellow;
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.dado {
    border: 2px solid #2980b9;
    background-color:  #58585f;
    box-sizing: border-box;
    width: 12.5%;
    cursor: pointer;
} 

.dado:hover{
    background-color: grey;
}

.infoJogo{
    background-color: green;
    border: 2.5px solid #000000;
    border-radius: 4px;
    width: 400px;

}

